/** 
 * Austin Clifton
 * CSS for crypto widget
 */

.cryptoContainer {
    grid-row: 2;
    grid-column: 3;
    width: 350px;
    height: 325px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cryptoBanner {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 35px;
    width: 100%;
    color: white;
    font-size: 0.85em;
    text-align: center;
    background: black;
    z-index: 5;
}

.listBlock {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    color: white;
    border: 2px solid black;
}

.listBlockSymbol {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    font-size: 2.25em;
    background: rgba(0, 0, 0, 0.2);
}

.listBlockName {
    display: flex;
    justify-content: center;
    font-family: 'Kode Mono', 'monospace';
    font-size: 0.35em;
}

.listBlockPrice {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.listBlockPriceChanges {
    grid-column: 3;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listBlock1h,
.listBlock24h,
.listBlock7d {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95em;
}

/* Background colors based on 24h change */
.listBlock.positive {
    background: #248c0d;
}

.listBlock.negative {
    background: #Ad2013;
}

.listBlock.neutral {
    background: gray;
}

.cryptoError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}

.cryptoErrorTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(130, 205, 230);
}

.cryptoErrorDetail {
    font-size: 0.9em;
    color: rgb(169, 169, 169);
}
