/**
 * Weather Widget Styles
 */

#weatherContainer {
    position: relative;
    grid-row: 1;
    grid-column: 3;
    width: 350px;
    height: 325px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgb(137, 188, 239);
    border-radius: 16px 16px 8px 8px;
}

#weatherCode {
    margin-top: 2%;
    padding-left: 2%;
    font-size: 1.75em;
    background: rgba(16, 38, 128, 0.444);
}

.weatherTemperatures {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#weatherTemp {
    display: flex;
    align-items: center;
    font-size: 3.25em;
    font-family: 'Kode Mono', monospace;
}
#tempIcon {
    width: 40px;
    height: 40px;
    padding: 0 10px;
}
#weatherFeelsLike, #weatherHumidity {
    display: flex;
    align-items: center;
}
.weatherSmallStats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    padding: 2px 10px;
    margin: 0 35px 7px 35px;
    font-size: 1.4em;
    background-color: rgba(100, 97, 97, 0.444);
    border-radius: 4px;
}
#SmallStatsIcon {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.weatherStats {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 100%;
    font-family: 'Kode Mono', monospace;
    font-size: 1.5em;
    background-color: rgba(237, 233, 233, 0.444);
}
#weatherprecipitationProbability, #weatherRainfall, #weatherSnowfall, #weatherClouds, #weatherWindSpeed, #weatherUVIndex {
    display: flex;
    align-items: center;
    padding: 2px;
}
#icon {
    width: 25px;
    height: 25px;
    margin: 5px 15px;
}

#weatherLocation {
    padding: 0 15px;
    color: white;
    font-size: 1.9em;
    background: linear-gradient(to right,
        rgba(225, 22, 22, 0.833) 0%,
        rgba(150, 3, 3, 0.833) 100%);
    border-radius: 16px 16px 0 0;
}
